html
  head
    style(type="text/css")
      include emailStyles.css
  body
    div.container
    img(src="", alt="")
      h1 HealthHub Registration
      p Thank you for registering with HealthHub. We are excited to have you on board!
      p Please feel free to explore our services and stay healthy.
      p Regards,
      p HealthHub Team
